body {
  background-color: black;
  color: white;
}

@media screen and (max-width: 759px) {
  body {
      background-color: white;
      color: green;
  }

}
@media screen and (max-height: 480px) {
  body {
    background-color: teal;
    color: yellow;
  }
}
